---
permalink: /
title: "Godot Engine - Free and open source 2D and 3D game engine"
description: "Godot provides a huge set of common tools, so you can just focus on making your game without reinventing
the wheel."
layout: default
---

{% include header.html %}

<link rel="stylesheet" href="/assets/css/transparent-nav.css">
<style>
	.main-download {
		display: flex;
		align-items: flex-start;
		gap: 48px;
		margin-top: 48px;
	}

	.main-download-links {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.main-download-links .btn-download {
		width: 100%;
	}
	.main-download-links .btn-download:nth-of-type(2n) {
		background-color: rgb(132 151 174 / 68%);
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}
	.main-download-links .btn-download:nth-of-type(2n) .download-title {
		color: #f7f7f7;
	}
	.main-download-links .btn-download:nth-of-type(2n) .download-hint {
		background-color: var(--primary-color-subdued);
	}

	@media (max-width: 900px) {
		.main-download {
			align-items: center;
			flex-direction: column;
			gap: 36px;
		}
	}

	#donations {
		background-color: var(--dark-color);
		color: var(--dark-color-text);
		overflow: auto;
		text-align: center;
		position:relative;
		display:block;
		overflow:hidden;
	}

	#donations h1,
	#donations h2,
	#donations h3 {
		color: var(--dark-color-text-title);
	}

	#sponsors .flex {
		justify-content: center;
		flex-wrap: wrap;
	}

	#sponsors .sponsor {
		background-color: var(--sponsor-background-color);
		border: 14px solid var(--sponsor-background-color);
		border-radius: 8px 8px;
		display: flex;
		align-items: center;
		height: 80px;
		box-sizing: border-box;
		margin-bottom: 8px;
		margin-left: 8px;
		overflow: auto;
		opacity: 0.85;
		transition: opacity 0.2s;
	}

	#sponsors .sponsor:hover {
		filter: brightness(105%);
		opacity: 1.0;
	}

	#sponsors img {
		mix-blend-mode: multiply;
		width: inherit;
		height: 100%;
	}

	#sponsors .silver .sponsor {
		background-color: var(--sponsor-silver-background-color);
		border-color: var(--sponsor-silver-background-color);
		height: 68px;
	}

	#sponsors .gold .sponsor {
		background-color: var(--sponsor-gold-background-color);
		border-color: var(--sponsor-gold-background-color);
	}

	#sponsors .platinum .sponsor {
		background-color: var(--sponsor-platinum-background-color);
		border-color: var(--sponsor-platinum-background-color);
		height: 100px;
	}

	.feature-link {
		text-decoration: none;
	}

	.features-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
	}

	.feature:hover {
		transform: translateY(-2px);
	}

	.features-row> :first-child,
	.split-row> :first-child {
		margin-right: 8px;
	}

	.features-row> :last-child,
	.split-row> :last-child {
		margin-left: 8px;
	}

	.feature img {
		display: block;
		width: 100%;
		height: auto;
		position: relative;
		background-color: #607080;
		aspect-ratio: 3/2;
		object-fit: cover;
		object-position: top center;
	}

	.feature {
		position: relative;
		overflow: hidden;
		transition: transform 200ms ease-in-out;
		height: 100%;
		border-radius: 8px;
	}

	.feature.dark {
		background-color: var(--transparent-cover-darker);
	}

	.feature h4 {
		margin-bottom: 10px;
	}

	.feature p {
		margin: 0;
	}

	.feature .body {
		padding: 24px;
	}

	.feature .dark h4 {
		color: var(--dark-color-text-title);
	}

	.features-learn-more {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
	}

	.img-auto-size {
		width: 100%;
		height: auto;
	}

	.btn.btn-flat.btn-hero-learn-more {
		margin: 0;
	}

	@media (max-width: 900px) {
		.features-grid {
			grid-template-columns: 1fr;
		}

		#highlight .highlight-cover {
			border-radius: 4px 4px 0 0;
		}

		#highlight .highlight-details {
			border-radius: 0;
		}
	}

	.news-list .button-container {
		text-align: right;
	}

	@media (max-width: 768px) {
		.news-list .button-container {
			text-align: left;
		}
	}
/*------*/
:root{
	--experimental-accent:#ff5722;
	--mainTransition: 1s;
}
.feature .body {
		padding: 24px;
		background-color: rgba(51, 63, 103, 1);
		height: 40%;
		position: relative;
	}

.feature > img{
	transition: 1s;
	pointer-events: none;
}
.feature:hover > img{
		transform: scale(1.06);
	}
.feature:hover{
	box-shadow: 0px 5px 10px #1010105b;
	border-bottom:solid #fff 2px;
}
.feature:active{
	transform: scale(.95);
}
.feature-link:active{
	outline: 0 !important;
	border: 0 !important;
}
.feature{
	transition: 1s;
	box-sizing:border-box;
}
.learnMore{
	background:#000 !important;
	border-bottom:solid #fff 2px;
	transition: var(--mainTransition);
	overflow:hidden;
}
.learnMore:hover{ 
transform: scale(1.06);
	box-shadow: 0px 5px 10px #1010105b;
	color:#fff !important;
}
.learnMore:active{ 
transform: scale(.99);
}

.getInvolved{
	box-sizing: border-box;
	transition: var(--mainTransition);
	display: grid;
	grid-template-rows: .5fr .45fr .05fr;
	align-content: space-between;
}
.getInvolved:hover{
	cursor: pointer;
	background:#ffffff !important;
	border-bottom:solid #fff 2px;
	box-shadow: 0px 5px 10px #1010105b;
	color:#000;
	border-radius: 8px;
	transform: translateY(-2px);
}
.getInvolved:hover h4{
	color: var(--base-color-text-title);
}
#hero-shadow{
	position: absolute;
	pointer-events:none;
	bottom:0;
	left:0;
	right:0;
	height:10%;
	background:linear-gradient(#0000,#000a);
}

.dropBtn{
	position:absolute;
	width:100%;
	height:0;
	top:0;
	left:0;
	right:0;
	background: var(--dark-color);
	transition: var(--mainTransition);
	z-index:0;
	display:block;
}

.getInvolved:hover .dropBtn{
	height:100%;
}
.getInvolvedContainer{
	width:100%;
	position:relative;
	transition: var(--mainTransition);
}

.getInvolvedContainer:hover > .dropBtn{
	background:	var(--primary-color);
}
.getInvolvedContainer:hover{
	transform:scale(1.01);
}
.getInvolvedImgBox{
	width:250px;
	height:250px;
	position:relative;
	display:block;
	margin:auto;
}
.getInvolvedImg{
	width:100%;
	height:100%;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	display:block;
	object-fit:contain;
	margin:auto;
	transition: var(--mainTransition);
}
.getInvolved:active{
	transform: scale(.95);
}
.getInvolved:hover * .getInvolvedImgFront{
	transform: scale(1.1);
	filter: drop-shadow(0 0 0.75rem rgba(116, 116, 116, 0.236));
}
.btn-flat-unfrosted{
	background-color: rgb(111 111 111 / 27%);
	transition: var(--mainTransition);
}
.getInvolved:hover * .btn-front{
	color:#fff !important;
}

.btn-front{
	box-shadow: none;
	background-color: transparent;
	color: var(--link-color);
	margin: auto;
	pointer-events:none;
}
.plain-link {
	text-decoration: none;
	}

.card{
	transition: 1s !important;
}
.card:hover{
	transform: scale(1.06) !important;
	box-shadow: 0 0 0 2px white, 0px 15px 20px #1010105b;;
	z-index:1;
}

.donationsBanner{
	background: linear-gradient(45deg, black, transparent);
}
#donationsContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 0%;
  background-color: #fff;
  transition: 0.3s ease;
  z-index: -1;
  pointer-events:none;
}

#donationsContent:hover::before {
  height: 100%;
}

#donationsContent{
	background: linear-gradient(45deg, black, transparent);
	z-index: 1;
    position: relative;
    box-sizing: border-box;
    border: 4px solid #fff;
	box-shadow: 0px 5px 10px #1010105b;
}
#donationsContent:hover{
	color:#000;
}
#donationsContent:hover * #foundation_graphic{
	content: url(/assets/home/foundation/godot-foundation-logo-light.svg);
}

#donationsContent:hover .donations-btn{
	background: var(--primary-color) !important;
}

.donations-btn{
	transition:1s;
}
.donations-btn:hover{
	transform: scale(1.08);
}
#foundation_graphic{
	transition: 1s;
}
#foundation_graphic:hover{
	transform: scale(1.04);
}


#hero-img{
	position: absolute;
    right: 0%;
    top: 0;
    mix-blend-mode: overlay;
    transform: rotate(-25deg);
	pointer-events:none;
	transition: 1s;	
}

.hero > .background-image:hover{
	transform: scale(1.1);
}
.background-image{
	transition: transform 4s;
	background-attachment: fixed;
}
.hero-text{
	filter: drop-shadow(0 0.1rem 0.75rem rgba(36, 36, 30, 1));
}
#credits{
	opacity: .7;
}

.learnMore::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: left 0.3s ease;
  z-index: -1;
  opacity:0;
  pointer-events:none;
}

.learnMore:hover::before {
  left: 0;
  opacity:1;
}

#nav * li {
position:relative;
}

#nav * li:not(.fund) > a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  width: 100%;
  height: 0;
  background: linear-gradient(#fff0,var(--dark-color));
  transition: 0.3s ease;
  z-index: -1;
  margin:0;
}

#nav * li:not(.fund) > a:hover::before {
  height: 100%;
  box-sizing: border-box;
  border-bottom:#fff 2px solid;
  transform: translate(0,-2px);
}

.fund{
	transition: 1s;
	margin:2px;
}
.fund:hover{
	transform: scale(1.08);
}

@media (prefers-color-scheme: dark) {
	.footerGear {
 		content: url(/assets/home/gear-dark.svg);
	}
}

@media (max-width: 1200px) {
.fund{
	margin:0px;
}
.fund:hover{
	transform: none;
}
#nav * li > a::before {
	background: none;
}
.footerGear{
	filter:invert(1);
	opacity: .4;
	}
}
.cursorOverload{
	pointer-events: none !important;
}

.cursorOverloadAuto{
	pointer-events: auto !important;
}
.hero-download{
	transition: 1s;
	}
.hero-download:hover{
	transform: scale(1.03);
	box-shadow: 0px 5px 10px #1010105b;
	filter: drop-shadow(0 0 0.75rem rgba(116, 116, 116, 0.236));
}
.hero-download:active{
	transform: scale(.99);
}
.hero-download:hover > .download-hint{
	transition: 1s;
	width: 0;
}

.btn-hero-learn-more{
	transition: 1s;
	overflow:hidden;
}
.btn-hero-learn-more:hover{
	transform: scale(1.06);
	box-shadow: 0px 5px 10px #1010105b;
}
.btn-hero-learn-more:active{
	transform: scale(.99);
}

.btn-hero-learn-more::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: left 0.3s ease;
  z-index: -1;
  opacity:0;
  pointer-events:none;
}

.btn-hero-learn-more:hover::before {
  left: 0;
  opacity:1;
}


.rowPop{
	transition: 1s;
}
.rowPop:hover{
	transform: translate(0,-2px);
}
.header-margin-overide{
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.moreNews{
	color: var(--primary-color) !important;
}

.footerPop{
	transition: 1s;
}
.footerPop:hover a{
	z-index:1;
	transform: scale(1.04);
}

</style>

<section class="hero">
	<div class="background-image" style="background-image: url()"></div>
	<div id="hero-shadow"></div>
	<img src="/assets/home/logo_silhouette.svg" id="hero-img">
	<div class="wrapper cursorOverload">
		<div class="copy container">
			<h1>The game engine you've been waiting&nbsp;for.</h1>
			<p class="hero-text">The Godot Engine is a free, all-in-one, cross-platform game engine that makes it easy for you to create 2D and
				3D games.</p>

			<div class="main-download  cursorOverloadAuto">
				{% assign stable_version_3 = site.data.versions | find: "featured", "3" %}
				{% assign stable_version_4 = site.data.versions | find: "featured", "4" %}

				<div class="main-download-links">
					<a href="/download/windows" class="btn btn-download set-os-download-url hero-download" data-version="4"
						title="Download the latest version of Godot 4">
						<div class="download-title">Download Latest</div>
						<div class="download-hint">{{ stable_version_4.name }}</div>
					</a>

					<a href="/download/windows" class="btn btn-download set-os-download-url hero-download" data-version="3"
						title="Download the long-term support version of Godot 3">
						<div class="download-title">Download LTS</div>
						<div class="download-hint">{{ stable_version_3.name }}</div>
					</a>
				</div>

				<a href="/features" class="btn btn-flat btn-flat-white btn-flat-frosted btn-hero-learn-more">Learn more</a>
			</div>
		</div>
	</div>
	<div class="credits">
		<a href=""><span class="game"></span> <span class="by" style="opacity: 0.6;"></span></a>
	</div>
</section>

<section class="container padded">
	<h2>Latest news</h2>
	<div class="flex eqsize responsive" style="gap: 30px;">

		{% assign latest_posts = site.article | sort:"date" | reverse %}
		{% for post in latest_posts limit:1 %}
		<a href="{{ post.url }}" style="text-decoration: none">
			<article class="article-card rowPop">
				<div class="thumbnail" style="background-image: url('{{ post.image }}');"></div>
				<div class="content">
					<h3>{{ post.title }}</h3>
					<p class="excerpt">{{ post.excerpt }}</p>
				</div>
			</article>
		</a>
		{% endfor %}

		<div class="news-list">
			<div style="display: grid; gap: 18px;">
				{% for post in latest_posts limit:3 offset:1 %}
				{% if post != posts[0] %}
				<a href="{{ post.url }}" style="text-decoration: none;">
					<article class="article-card row rowPop">
						<div class="thumbnail" style="background-image: url('{{ post.image }}');" href="{{ post.url }}"></div>
						<div>
							<h3>{{ post.title }}</h3>
							<p class="excerpt">{{ post.excerpt | truncate: 103 }}</p>
						</div>
					</article>
				</a>
				{% endif %}
				{% endfor %}
				<div class="button-container">
					<a href="/blog" class="btn no-margin moreNews learnMore">More News</a>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="features" class="container padded">
	<h2>A different way to make games</h2>

	<div class="features-grid">
		<a class="feature-link" href="/features#design" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/innovative.webp" alt="" width="1" height="1"
					style="background: linear-gradient(90deg, #333747 11%, #2d3342 50%, #2d3342 68%, #272d3c 87%)" loading="lazy">
				<div class="body">
					<h4>Innovative design</h4>
					<p>
						Godot's Node and Scene system gives you both power and flexibility
						to create anything.
					</p>
				</div>
			</div>
		</a>

		<a class="feature-link" href="/features#script" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/language.webp" alt="" width="1" height="1"
					style="background: linear-gradient(90deg, #252a35 46%, #252a35 53%, #202630 76%, #202630 89%)" loading="lazy">
				<div class="body">
					<h4>Use the right language for the job</h4>
					<p>
						Keep your code modular with an object-oriented API using Godot's own
						GDScript, C#, C++, or bring your own using GDExtension.
					</p>
				</div>
			</div>
		</a>
		<a class="feature-link" href="/features#features_2d" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/2d.webp" alt="" width="1" height="1"
					style="background: linear-gradient(90deg, #196f36 7%, #28674e 29%, #2a4b46 65%, #3b6f4e 97%)" loading="lazy">
				<div class="body">
					<h4>Dedicated 2D engine</h4>
					<p>
						Make crisp and performant 2D games with Godot's dedicated 2D
						rendering engine with real 2D pixel coordinates and 2D nodes.
					</p>
				</div>
			</div>
		</a>

		<a class="feature-link" href="/features#features_3d" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/3d.webp" alt="" width="1" height="1"
					style="background: linear-gradient(90deg, #196f36 7%, #28674e 29%, #2a4b46 65%, #3b6f4e 97%)" loading="lazy">
				<div class="body">
					<h4>Simple and powerful 3D</h4>
					<p>
						Godot's 3D nodes give you everything you need to build, animate,
						and render your 3D worlds and characters.
					</p>
				</div>
			</div>
		</a>

		<a class="feature-link" href="/features#deploy" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/cross-platform.svg" alt="" width="1" height="1"
					style="background-color: #333667" loading="lazy">
				<div class="body">
					<h4>Release on all platforms</h4>
					<p>
						Deploy your game on desktop, mobile, and the web in seconds. Godot
						even supports consoles through third party publishers.
					</p>
				</div>
			</div>
		</a>

		<a class="feature-link" href="#get_involved" data-barba-prevent>
			<div class="feature dark">
				<img src="/assets/home/features/oss.svg" alt="" width="1" height="1" style="background-color: #333667"
					loading="lazy">
				<div class="body">
					<h4>Open Source</h4>
					<p>
						Truly open development: anyone who contributes to Godot benefits
						equally from others’ contributions.
					</p>
				</div>
			</div>
		</a>
	</div>

	<div class="features-learn-more">
		<a href="/features" class="btn btn-flat btn-flat-white btn-flat-unfrosted learnMore">Learn more about using Godot</a>
	</div>
</section>

<section id="get_involved" class="container padded">
	<h2>Get involved</h2>
	<p>
		Join the community and help create a game engine that belongs to everybody.
	</p>

	<div class="flex eqsize responsive">
		<div class="text-center base-padding getInvolved" onclick="window.location.href='https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-code'">
			<div class="getInvolvedImgBox">
				<img src="/assets/home/code_back.svg" class="getInvolvedImg" alt="" loading="lazy">
				<img src="/assets/home/code_front.svg" class="getInvolvedImg getInvolvedImgFront" alt="" loading="lazy">
			</div>
			<div>
			<h4>Code</h4>
			<p>
				If you know how to code, you can help by fixing bugs and working with engine contributors towards the
				implementation of new features.
			</p>
			</div>
			<div class="getInvolvedContainer">
				<div class="dropBtn"></div>
				<a href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-code"
				class="btn btn-front" target="_blank" rel="noopener">Learn more</a>
			</div>
		</div>
	
		<div class="text-center base-padding getInvolved" onclick="window.location.href='https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-to-the-documentation'">
			<div class="getInvolvedImgBox">
				<img src="/assets/home/document_back.svg" class="getInvolvedImg" alt="" loading="lazy">
				<img src="/assets/home/document_front.svg" class="getInvolvedImg getInvolvedImgFront" alt="" loading="lazy">
			</div>
			<div>
			<h4>Document</h4>
			<p>
				Documentation quality is essential in a game engine; help make it better by updating the API reference, writing
				new guides or submitting corrections.
			</p>
			</div>
			<div class="getInvolvedContainer">
				<div class="dropBtn"></div>
			<a href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#contributing-to-the-documentation"
				class="btn btn-front" target="_blank" rel="noopener">Learn more</a>
			</div>
		</div>
	
		<div class="text-center base-padding getInvolved" onclick="window.location.href='https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#testing-and-reporting-issues'">
			<div class="getInvolvedImgBox">
				<img src="/assets/home/report_back.svg" class="getInvolvedImg" alt="" loading="lazy">
				<img src="/assets/home/report_front.svg" class="getInvolvedImg getInvolvedImgFront" alt="" loading="lazy">
			</div>
			<div>
			<h4>Report</h4>
			<p>
				Found a problem with the engine? Don't forget to report it so that developers can track it down.
			</p>
			</div>
			<div class="getInvolvedContainer">
				<div class="dropBtn"></div>
			<a href="https://docs.godotengine.org/en/stable/community/contributing/ways_to_contribute.html#testing-and-reporting-issues"
				class="btn btn-front" target="_blank" rel="noopener">Learn more</a>
			</div>
		</div>
	

	</div>
</section>

<section id="donations" class="padded donationsBanner">
	<div class="container sm-full" id="donationsContent">
		<a href="https://godot.foundation" target="_blank" style="display: inline-block;">
			<img id="foundation_graphic" src="/assets/home/foundation/godot-foundation-logo-dark.svg" alt="Godot Foundation logo" width="1" height="1"
			class="img-auto-size" loading="lazy">
		</a>
		<p class="small auto-margin">
			You don't need to be an engine developer to help Godot. Consider donating to speed up development and make
			Godot&nbsp;Engine even more awesome!
		</p>

		<a href="/donate" class="btn btn-flat btn-flat-white donations-btn">Donate</a>
	</div>
</section>

<section id="sponsors">
	<div class="container sm-full padded">
		<h2 class="text-center">Sponsored by</h2>

		<div class="platinum flex">
			{% for sponsor in site.data.sponsors.platinum %}
			<a class="sponsor card" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
		<div class="gold flex">
			{% for sponsor in site.data.sponsors.gold %}
			<a class="sponsor card" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
		<div class="silver flex">
			{% for sponsor in site.data.sponsors.silver %}
			<a class="sponsor card" href="{{ sponsor.url }}" target="_blank" rel="noopener">
				<img src="{{ sponsor.image }}" alt="{{ sponsor.name }}" loading="lazy">
			</a>
			{% endfor %}
		</div>
	</div>
</section>


<script>
	document.addEventListener('DOMContentLoaded', () => {
		// Updating the hero on the home page
		// get the current html lang attribute
		const htmlLang = document.documentElement.lang;
		if (window.location.pathname === '/' || window.location.pathname === '/' + htmlLang || window.location.pathname === '/' + htmlLang + '/') {
			const authors = [
				{% for project in site.showcase %}
				{% if project.featured_in_home %}
				{
					game: '{{ project.title }}',
					by: '{{ project.author }}',
					url: '{{ project.url }}',
					image: '{{ project.gallery[0] }}',
				},
				{% endif %}
				{% endfor %}
			];

		let author = authors[Math.floor(Math.random() * authors.length)];
		document.querySelector('.hero .background-image').style.backgroundImage = `url(${author.image})`;
		document.querySelector('.hero .background-image').style.backgroundAttachment = `fixed`;
		document.querySelector('.hero .credits a').href = author.url;
		document.querySelector('.hero .credits a span.game').innerText = author.game;
		document.querySelector('.hero .credits a span.by').innerText = ' - ' + author.by;

		// Parallax effect: On page scroll move background-position up.
		// This effect is disabled if user opted to have reduced motion in browser/OS settings.
		const reducedMotionCheck = window.matchMedia('(prefers-reduced-motion)');
		if (!reducedMotionCheck.matches) {

			// Parallax effect lags on mobile, so we disable it based on the window resolution.
			const parallaxImage = document.querySelector('section.hero .background-image');
			const parallaxLogo = document.querySelector('section.hero #hero-img');
			const parallaxMinWidth = 768;
			const parallaxSpeed = 0.4;
			const rotationSpeed = 0.04;
			const rotationSpeedBG = 0.0004;
			let logoCounter = false;
			const parallaxTick = () => {
				if (window.innerWidth > parallaxMinWidth) {
					parallaxLogo.style.transform = `translateY(${window.pageYOffset * parallaxSpeed}px) rotate(-${window.pageYOffset * rotationSpeed + 5}deg)`;
					//parallaxImage.style.transform = `translateY(${window.pageYOffset * parallaxSpeed}px) rotate(${window.pageYOffset * rotationSpeedBG}deg)`;
					
					if(logoCounter === true){
					const heroSection = document.querySelector('section.hero');
					const rect = heroSection.getBoundingClientRect();
					const offsetBottom = window.innerHeight - rect.bottom;
					if (offsetBottom < 0 && !logoPhaseStarted) {
					document.getElementById("hero-img").src = "/assets/home/logo_silhouette_open.svg";
					}
					}else{logoCounter = true;logoBlink();}
					
				} else {
					parallaxImage.style.transform = 'none';
				}
			}

			window.addEventListener("scroll", () => {
				window.requestAnimationFrame(parallaxTick)
			});

			window.addEventListener("resize", () => {
				window.requestAnimationFrame(parallaxTick)
			});
		}
	}
	});
	let logoPhase = 0;
	let logoPhaseStarted = false;
	let logoTimer;
	function logoBlink(){
		logoPhaseStarted = true;
		if(logoPhase === 0){
			document.getElementById("hero-img").src = "/assets/home/logo_silhouette.svg";
			clearTimeout(logoTimer);
			logoTimer = setTimeout(logoBlink,160);
			logoPhase = 1;
		}else{
			document.getElementById("hero-img").src = "/assets/home/logo_silhouette_open.svg";
			clearTimeout(logoTimer);
			logoTimer = setTimeout(logoBlink,10000);
			logoPhase = 0;
		}
	}
</script>

{% include footer.html %}
